html
  font-size: 16px

body
  color: #eef3ff;
  background: linear-gradient(to bottom, #24252f 100%, #31313f 100%, #242530 100%);
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;

address
  font-style: normal;

::-webkit-scrollbar {
  background-color: #121212
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #384465;
  border-radius: 10px;
}

button
  background: none;
  border: none;
  color: #EEF3FF;
  cursor: pointer;
  transition: all 0.3s ease

.d-flex
  display: flex

.align-items-center
  align-items: center


.justify-content-sb
  justify-content: space-between

.wrap
  max-width: 1240px;
  padding: 0 20px;
  margin: auto;

a
  text-decoration: none;
  color: #fff;